Package: python-huggingface-hub-doc
Source: huggingface-hub
Version: 0.30.0.dev0-1
Architecture: all
Maintainer: Kohei Sendai<kouhei.sendai@gmail.com>
Installed-Size: 9
Section: doc
Priority: optional
Homepage: https://github.com/huggingface/huggingface_hub
Description: <insert up to 60 chars description> (common documentation)
 <Insert long description, indented with spaces.>
 .
 This is the common documentation package.
